# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

**/build
!build/build-static.sh

# KiCAD

# Temporary files
hardware/kicad/**/*.000
hardware/kicad/**/*.bak
hardware/kicad/**/*.bck
hardware/kicad/**/*.kicad_pcb-bak
hardware/kicad/**/*.kicad_sch-bak
hardware/kicad/**/*-backups
hardware/kicad/**/*.kicad_prl
hardware/kicad/**/*.sch-bak
hardware/kicad/**/*~
hardware/kicad/**/~*
hardware/kicad/**/*.tmp
hardware/kicad/**/*.log
hardware/kicad/**/*-save.pro
hardware/kicad/**/*-save.kicad_pcb
hardware/kicad/**/fp-info-cache
hardware/kicad/**/fp-lib-table
hardware/kicad/**/sym-lib-table
hardware/kicad/**/_autosave-*
hardware/kicad/**/gerber

# Netlist files (exported from Eeschema)
hardware/kicad/**/*.net

# Autorouter files (exported from Pcbnew)
hardware/kicad/**/*.dsn
hardware/kicad/**/*.ses

# Exported BOM files
hardware/kicad/**/*.xml
hardware/kicad/**/*.csv

# KiCAD

# Temporary files
hardware-extra/**/kicad/**/*.000
hardware-extra/**/kicad/**/*.bak
hardware-extra/**/kicad/**/*.bck
hardware-extra/**/kicad/**/*.kicad_pcb-bak
hardware-extra/**/kicad/**/*.kicad_sch-bak
hardware-extra/**/kicad/**/*-backups
hardware-extra/**/kicad/**/*.kicad_prl
hardware-extra/**/kicad/**/*.sch-bak
hardware-extra/**/kicad/**/*~
hardware-extra/**/kicad/**/~*
hardware-extra/**/kicad/**/*.tmp
hardware-extra/**/kicad/**/*.log
hardware-extra/**/kicad/**/*-save.pro
hardware-extra/**/kicad/**/*-save.kicad_pcb
hardware-extra/**/kicad/**/fp-info-cache
hardware-extra/**/kicad/**/fp-lib-table
hardware-extra/**/kicad/**/sym-lib-table
hardware-extra/**/kicad/**/_autosave-*
hardware-extra/**/kicad/**/gerber

# Netlist files (exported from Eeschema)
hardware-extra/**/kicad/**/*.net

# Autorouter files (exported from Pcbnew)
hardware-extra/**/kicad/**/*.dsn
hardware-extra/**/kicad/**/*.ses

# Exported BOM files
hardware-extra/**/kicad/**/*.xml
hardware-extra/**/kicad/**/*.csv

# Firmware

firmware/**/impl
